*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Project exclude paths
/beauty/build/
/beauty/build/intermediates/javac/debug/classes/
/tiui/build/
/tiui/build/intermediates/javac/debug/classes/
/tuichat/build/
/tuichat/build/intermediates/javac/debug/classes/
/tuiconversation/build/
/tuiconversation/build/intermediates/javac/debug/classes/
/tuicore/build/
/tuicore/build/intermediates/javac/debug/classes/
/xmagickit/build/
/xmagickit/build/intermediates/javac/debug/classes/
/.idea